<div class="blog-article">
	<div class="blog-article-name">{{.Name}}</div>
	<div class="blog-article-image">
		<img src="/img/models/{{.Image}}">
	</div>
	<div class="blog-article-title">{{.Title}}</div>
	<div class="blog-article-content">{{.Content}}</div>
</div>
<div class="jass-logo-small"> </div>