{{range $key,$value := .Blogs}}
<div class="blog-item" name="blog-{{$value.ID}}">
	<ul>
		<li>{{$value.Image}}</li>
		<li>{{$value.Name}}</li>
		<li>{{$value.Title}}</li>
		<li>{{$value.Date}}</li>
		<li>{{$value.Content}}</li>
	</ul>
	{{$value}}
</div>
{{end}}

<div class="jass-logo-small-box"> </div>