<div class="blog-article">

	<div class="blog-article-header">Header</div>
	<div class="blog-article-header">{{.Image}}</div>
	<div class="blog-article-title">{{.Title}}</div>
	<div class="blog-article-name">{{.Name}}</div>
	<div class="blog-article-content">{{.Content}}</div>


</div>
