{{range $key,$value := .Blogs}}
<div class="blog-item" name="blog-{{$value.ID}}">
	<div class="blog-item-pic" name="blog-image-{{$value.ID}}"></div>
	<div class="blog-item-title">{{$value.Title}}</div>
</div>
{{end}}

<div class="jass-logo-small-box"> </div>