{{range $key,$value := .Blogs}}
<div class="blog-item" name="blog-{{$value.ID}}" data-id="{{$value.ID}}">
	<div class="blog-item-pic" name="blog-image-{{$value.ID}}" data-id="{{$value.ID}}"></div>
	<div class="blog-item-title" name="blog-title-{{$value.ID}}" data-id="{{$value.ID}}">
		{{$value.Name}}
	</div>
</div>
{{end}}
<div class="blog-footer backbtn">
	<img src="/img/flowerGS.png">
	<span class="backbtn">
		Discover More ...
	</span>

	<div class="backbtn">
		More
		<div data-href="/about">About</div>
		<div data-href="/shop">Shop Chamelee</div>
		<div data-href="/ambassadors">Ambassadors</div>
		<div data-href="/terms">Terms&Conditions</div>
		<div data-href="/privacy">Privacy Policy</div>
		<div></div>
		<div data-href="/contact">Contact Us</div>
	</div>
	<div class="backbtn">
		Follow us
		<i class="fa fa-instagram fa-2x"></i>
		<i class="fa fa-facebook-square fa-2x"></i>	
		<i class="fa fa-twitter-square fa-2x"></i>
		<i class="fa fa-pinterest-square fa-2x"></i>
		<i class="fa fa-google-plus-square fa-2x"></i>	
		<i class="fa fa-youtube-square fa-2x"></i>	
	</div>
</div>